version: "2"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    ports:
      - "###RASPBERRY_HOST_IP###:53:53/tcp"
      - "###RASPBERRY_HOST_IP###:53:53/udp"
    environment:
      TZ: 'Europe/Berlin'
      WEBPASSWORD: 'sicheresPasswort'  # hier euer Passwort eingeben
    volumes:
       - '~/pi-hole/pihole/:/etc/pihole/'
       - '~/pi-hole/dnsmasq/:/etc/dnsmasq.d/'
    dns:
      - 127.0.0.1
      - 1.1.1.1
